<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
            <h4>Witaj $UserAccount.email.email$</h4>
            Właśnie zostało założone dla Ciebie konto w systemie ISOCOM.<br>
            Konto to powiązanie jest z Twoim kontem Google poprzez Twój adres e-mail.<br>
            Pozdrawiamy,<br><br>
            Zespół ISOCOM<br><br>
            <i>ID konta: $UserAccount.id$<br>Google id: $UserAccount.userId$</i>
        </div>
    </body>
</html>
